body {
    margin: 0;
    padding: 0;
    direction: ltr;
}


.parent {
    display: flex;
    margin: auto;
    max-width: 1366px;
    width: 100%;
    margin: auto;
    max-width: 1366px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*نوشتنش تفاوتی نداره*/
}



.btn {
    /*بعد اینکه فاصله ها درست شد هم border 0 کن هم border-radius بده */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45px;
    height: 40px;
    transition: all 0.2s ease;
}

.btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}






#plus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}



#plus:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}


.calculator {
    width: 280px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 25px 6px;
}


.up-screen {
    display: flex;
    align-items: center;
    justify-content: center;

}


.up-screen input {
    width: 250px;
    height: 50px;
    outline: 0;
    border-radius: 5px;
    border: 0;
}

.down-btn {
    margin-top: 13px;
    width: 100%;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    /*توی evenly مشکل داره  */
    gap: 10px;
}



.between {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    width: 70%;
}



.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.right button {
    width: 45px;
    height: 115px;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.end :nth-child(1) {
    width: 100px;
    height: 40px;
}

.end button {
    width: 45px;
    height: 40px;
}